@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #212833 ;
  box-shadow: inset 0 70px 80px rgb(0 0 0 / 21%);
  font-family: 'Poppins', sans-serif;
}

/* =============  Scrollbar  ============= */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: white;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;

}
#header {
  width: 1400px;
  margin-top: 1rem;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  font-family: 'Poppins', sans-serif;
  backdrop-filter: blur(8px);
}
#header a {
  text-decoration: none;
  
}
#title {
  text-align: center;
  font-size: 2rem;
  /* color: rgb(90, 0, 90) ; */
  color: rgb(244, 244, 244);
  padding: 1rem 0;
  font-weight: bold;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
#OperationContainer {
  position: absolute;
  top: 25px;
  left: 20px;
  display: flex;
  align-items: center;
}
#OperationContainer button {
  background: #161824;
  margin-left: 0.5rem;
  outline: none;
  border: none;
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 2px;
}
#OperationContainer button:hover {
  cursor: pointer;
}
#OperationContainer input {
  padding-left: 0.4rem !important;
  padding: 0.3rem 0;
  border-radius: 2px;
  outline: none;
  border: 1px solid transparent;
}
#OperationContainer input:focus {
  border: 1px solid rgb(183, 0, 255);
}


#InsertNodeField,
#DeleteNodeField {
  width: 110px;
}
#DeleteNodeField {
  margin-left: 10px;
}

.Canvas {
  width: 100%;
  height: 100vh;
  flex: 1 1 auto;
  /* background-color: #212833; */
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}





.indicator_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  padding: 0.5rem 1rem ;
  font-size: 0.9rem;
  gap: 2rem;
  width: 800px;
}

.indicator  {
  display: flex;
  align-items: center;
}
.indicator_block {
  margin-right: 0.3rem;
}
.indicator  #edge{
  height: 0.2rem;
  width: 2.5rem;
  background-color: #099691;
  box-shadow: 0 0 1px #333;
}

.indicator  #node, .indicator #end_node{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid red;
}
.indicator  #node {
  background-color: #fff;
  
}
.indicator #end_node {
  background-color: #00911d;
  
}









.indicator text {
  font-size: 20px !important;
}

svg {
  margin-top: 5px;
  width: 100%;
  /* max-width: 1200px; */
  height: 100%;
  overflow: scroll;
}

.node circle {
  fill: #ffffff;
  stroke: #ff7d12;
  stroke-width: 1px;
}
.node text {
  font-size: 22px;
  fill: rgb(250, 7, 7);
}

.endOfWordNode circle {
  fill: #00911d;
  stroke: #ffffff;
  stroke-width: 1px;
}
.endOfWordNode text {
  font-size: 23px;
  fill: #ffffff;
}

.highlightedNode circle {
  fill: red;
  stroke: red;
  stroke-width: 2px;
}
.highlightedNode text {
  font-size: 23px;
  fill: white;
}

line {
  stroke: #099b96;
}

.null-node,
.null-link {
  visibility: hidden;
}
text {
  fill: #ffffff;
}
